name: E2E

on:
  push:
  pull_request:

jobs:
  e2e:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Node 24
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: "pnpm"

      # pnpm install
      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install

      # Playwright browser install
      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps

      # Run E2E
      - name: Run Playwright tests
        run: pnpm run test:e2e
